<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnError=" false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
>
    <testsuites>
        <testsuite name="parser">
            <file>tests/ParserTest.php</file>
            <file>tests/ValueTransformerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>